<div class = 'container'>
<table class="table table-bordered">
  <tbody>
    <tr>
      <td><%= @hash[1]%> руб. <div id = "pr1"><%= image_tag("7up.jpeg", height: '80', width: '70') %></div>1</td>
      <td><%= @hash[2]%> руб. <div id = "pr2"><%= image_tag("cola.jpeg", height: '80', width: '70') %></div>2</td>
      <td><%= @hash[3]%> руб. <div id = "pr3"><%= image_tag("adrenalin.jpeg", height: '80', width: '70') %></div>3</td>
      <td><%= @hash[4]%> руб. <div id = "pr4"><%= image_tag("aqua.jpeg", height: '80', width: '70') %></div>4</td>
      <td><%= @hash[5]%> руб. <div id = "pr5"><%= image_tag("coffe.jpeg", height: '80', width: '70') %></div>5</td>
      <td><%= @hash[6]%> руб. <div id = "pr6"><%= image_tag("fanta.jpeg", height: '80', width: '70') %></div>6</td>
    </tr>
    <tr>
      <td><%= @hash[7]%> руб. <div id = "pr7"><%= image_tag("7days.jpeg", height: '80', width: '70') %></div>7</td>
      <td><%= @hash[8]%> руб. <div id = "pr8"><%= image_tag("choko.jpeg", height: '80', width: '70') %></div>8</td>
      <td><%= @hash[9]%> руб. <div id = "pr9"><%= image_tag("hz.png", height: '80', width: '70') %></div>9</td>
      <td><%= @hash[10]%> руб. <div id = "pr10"><%= image_tag("kit_kat.png", height: '80', width: '70') %></div>10</td>
      <td><%= @hash[11]%> руб. <div id = "pr11"><%= image_tag("mars.jpeg", height: '80', width: '70') %></div>11</td>
      <td><%= @hash[12]%> руб. <div id = "pr12"><%= image_tag("maxfun.jpeg", height: '80', width: '70') %></div>12</td>
    </tr>
    <tr>
      <td><%= @hash[13]%> руб. <div id = "pr13"><%= image_tag("milka.jpeg", height: '80', width: '70') %></div>13</td>
      <td><%= @hash[14]%> руб. <div id = "pr14"><%= image_tag("mini.jpeg", height: '80', width: '70') %></div>14</td>
      <td><%= @hash[15]%> руб. <div id = "pr15"><%= image_tag("nesk.jpeg", height: '80', width: '70') %></div>15</td>
      <td><%= @hash[16]%> руб. <div id = "pr16"><%= image_tag("nuts.png", height: '80', width: '70') %></div>16</td>
      <td><%= @hash[17]%> руб. <div id = "pr17"><%= image_tag("oreo.png", height: '80', width: '70') %></div>17</td>
      <td><%= @hash[18]%> руб. <div id = "pr18"><%= image_tag("pepsi.jpeg", height: '80', width: '70') %></div>18</td>
    </tr>
        <tr>
      <td><%= @hash[19]%> руб. <div id = "pr19"><%= image_tag("pick.jpeg", height: '80', width: '70') %></div>19</td>
      <td><%= @hash[20]%> руб. <div id = "pr20"><%= image_tag("pick4.jpeg", height: '80', width: '70') %></div>20</td>
      <td><%= @hash[21]%> руб. <div id = "pr21"><%= image_tag("pik3.jpeg", height: '80', width: '70') %></div>21</td>
      <td><%= @hash[22]%> руб. <div id = "pr22"><%= image_tag("pik2.jpeg", height: '80', width: '70') %></div>22</td>
      <td><%= @hash[23]%> руб. <div id = "pr23"><%= image_tag("red_bull.jpeg", height: '80', width: '70') %></div>23</td>
      <td><%= @hash[24]%> руб. <div id = "pr24"><%= image_tag("sand1.jpeg", height: '80', width: '70') %></div>24</td>
    </tr>
    <tr>
      <td><%= @hash[25]%> руб. <div id = "pr25"><%= image_tag("sand2.jpeg", height: '80', width: '70') %></div>25</td>
      <td><%= @hash[26]%> руб. <div id = "pr26"><%= image_tag("sand3.jpeg", height: '80', width: '70') %></div>26</td>
      <td><%= @hash[27]%> руб. <div id = "pr27"><%= image_tag("sand4.jpeg", height: '80', width: '70') %></div>27</td>
      <td><%= @hash[28]%> руб. <div id = "pr28"><%= image_tag("snikers.jpeg", height: '80', width: '70') %></div>28</td>
      <td><%= @hash[29]%> руб. <div id = "pr29"><%= image_tag("svatoy.jpeg", height: '80', width: '70') %></div>29</td>
      <td><%= @hash[30]%> руб. <div id = "pr30"><%= image_tag("twiks.jpeg", height: '80', width: '70') %></div>30</td>
    </tr>
    <tr>
      <td><%= @hash[31]%> руб. <div id = "pr31"><%= image_tag("twiks3.jpeg", height: '80', width: '70') %></div>31</td>
      <td><%= @hash[32]%> руб. <div id = "pr32"><%= image_tag("twuks2.png", height: '80', width: '70') %></div>32</td>
      <td><%= @hash[33]%> руб. <div id = "pr33"><%= image_tag("cook.jpeg", height: '80', width: '70') %></div>33</td>
      <td><%= @hash[34]%> руб. <div id = "pr34"><%= image_tag("cook2.png", height: '80', width: '70') %></div>34</td>
      <td><%= @hash[35]%> руб. <div id = "pr35"><%= image_tag("cook3.jpeg", height: '80', width: '70') %></div>35</td>
      <td><%= @hash[36]%> руб. <div id = "pr36"><%= image_tag("ice1.png", height: '80', width: '70') %></div>36</td>
    </tr>
    <tr>
      <td><%= @hash[37]%> руб. <div id = "pr37"><%= image_tag("ice2.png", height: '80', width: '70') %></div>37</td>
      <td><%= @hash[38]%> руб. <div id = "pr38"><%= image_tag("ice3.png", height: '80', width: '70') %></div>38</td>
      <td><%= @hash[39]%> руб. <div id = "pr39"><%= image_tag("ice4.png", height: '80', width: '70') %></div>39</td>
      <td><%= @hash[40]%> руб. <div id = "pr40"><%= image_tag("idk.png", height: '80', width: '70') %></div>40</td>
      <td><%= @hash[41]%> руб. <div id = "pr41"><%= image_tag("idk2.jpeg", height: '80', width: '70') %></div>41</td>
      <td><%= @hash[42]%> руб. <div id = "pr42"><%= image_tag("juice1.jpeg", height: '80', width: '70') %></div>42</td>
    </tr>
        <tr>
      <td><%= @hash[43]%> руб. <div id = "pr43"><%= image_tag("juice2.jpeg", height: '80', width: '70') %></div>43</td>
      <td><%= @hash[44]%> руб. <div id = "pr44"><%= image_tag("juice3.jpeg", height: '80', width: '70') %></div>44</td>
      <td><%= @hash[45]%> руб. <div id = "pr45"><%= image_tag("juice4.jpeg", height: '80', width: '70') %></div>45</td>
      <td><%= @hash[46]%> руб. <div id = "pr46"><%= image_tag("juice5.jpeg", height: '80', width: '70') %></div>46</td>
      <td><%= @hash[47]%> руб. <div id = "pr47"><%= image_tag("apple.png", height: '80', width: '70') %></div>47</td>
      <td><%= @hash[48]%> руб. <div id = "pr48"><%= image_tag("banana.jpeg", height: '80', width: '70') %></div>48</td>
    </tr>
  </tbody>
</table>
<br>
<div id = "change">
<%= $tek[0]%>: Начальное состояние
<%= form_with url: '/vendings/activise', method: :post do |form| %>
          <p><%= form.submit("Активировать автомат", id: 'btn') %></p>
<% end %>
</div>
</div>
