<div class = 'container'>
<table class="table table-bordered">
  <tbody>
    <tr>
      <td><%= @hash[1]%> руб. <%= image_tag("7up.jpeg", height: '80', width: '70') %>1</td>
      <td><%= @hash[2]%> руб. <%= image_tag("cola.jpeg", height: '80', width: '70') %>2</td>
      <td><%= @hash[3]%> руб. <%= image_tag("adrenalin.jpeg", height: '80', width: '70') %>3</td>
      <td><%= @hash[4]%> руб. <%= image_tag("aqua.jpeg", height: '80', width: '70') %>4</td>
      <td><%= @hash[5]%> руб. <%= image_tag("coffe.jpeg", height: '80', width: '70') %>5</td>
      <td><%= @hash[6]%> руб. <%= image_tag("fanta.jpeg", height: '80', width: '70') %>6</td>
    </tr>
    <tr>
      <td><%= @hash[7]%> руб. <%= image_tag("7days.jpeg", height: '80', width: '70') %>7</td>
      <td><%= @hash[8]%> руб. <%= image_tag("choko.jpeg", height: '80', width: '70') %>8</td>
      <td><%= @hash[9]%> руб. <%= image_tag("hz.png", height: '80', width: '70') %>9</td>
      <td><%= @hash[10]%> руб. <%= image_tag("kit_kat.png", height: '80', width: '70') %>10</td>
      <td><%= @hash[11]%> руб. <%= image_tag("mars.jpeg", height: '80', width: '70') %>11</td>
      <td><%= @hash[12]%> руб. <%= image_tag("maxfun.jpeg", height: '80', width: '70') %>12</td>
    </tr>
    <tr>
      <td><%= @hash[13]%> руб. <%= image_tag("milka.jpeg", height: '80', width: '70') %>13</td>
      <td><%= @hash[14]%> руб. <%= image_tag("mini.jpeg", height: '80', width: '70') %>14</td>
      <td><%= @hash[15]%> руб. <%= image_tag("nesk.jpeg", height: '80', width: '70') %>15</td>
      <td><%= @hash[16]%> руб. <%= image_tag("nuts.png", height: '80', width: '70') %>16</td>
      <td><%= @hash[17]%> руб. <%= image_tag("oreo.png", height: '80', width: '70') %>17</td>
      <td><%= @hash[18]%> руб. <%= image_tag("pepsi.jpeg", height: '80', width: '70') %>18</td>
    </tr>
        <tr>
      <td><%= @hash[19]%> руб. <%= image_tag("pick.jpeg", height: '80', width: '70') %>19</td>
      <td><%= @hash[20]%> руб. <%= image_tag("pick4.jpeg", height: '80', width: '70') %>20</td>
      <td><%= @hash[21]%> руб. <%= image_tag("pik3.jpeg", height: '80', width: '70') %>21</td>
      <td><%= @hash[22]%> руб. <%= image_tag("pik2.jpeg", height: '80', width: '70') %>22</td>
      <td><%= @hash[23]%> руб. <%= image_tag("red_bull.jpeg", height: '80', width: '70') %>23</td>
      <td><%= @hash[24]%> руб. <%= image_tag("sand1.jpeg", height: '80', width: '70') %>24</td>
    </tr>
    <tr>
      <td><%= @hash[25]%> руб. <%= image_tag("sand2.jpeg", height: '80', width: '70') %>25</td>
      <td><%= @hash[26]%> руб. <%= image_tag("sand3.jpeg", height: '80', width: '70') %>26</td>
      <td><%= @hash[27]%> руб. <%= image_tag("sand4.jpeg", height: '80', width: '70') %>27</td>
      <td><%= @hash[28]%> руб. <%= image_tag("snikers.jpeg", height: '80', width: '70') %>28</td>
      <td><%= @hash[29]%> руб. <%= image_tag("svatoy.jpeg", height: '80', width: '70') %>29</td>
      <td><%= @hash[30]%> руб. <%= image_tag("twiks.jpeg", height: '80', width: '70') %>30</td>
    </tr>
    <tr>
      <td><%= @hash[31]%> руб. <%= image_tag("twiks3.jpeg", height: '80', width: '70') %>31</td>
      <td><%= @hash[32]%> руб. <%= image_tag("twuks2.png", height: '80', width: '70') %>32</td>
      <td><%= @hash[33]%> руб. <%= image_tag("cook.jpeg", height: '80', width: '70') %>33</td>
      <td><%= @hash[34]%> руб. <%= image_tag("cook2.png", height: '80', width: '70') %>34</td>
      <td><%= @hash[35]%> руб. <%= image_tag("cook3.jpeg", height: '80', width: '70') %>35</td>
      <td><%= @hash[36]%> руб. <%= image_tag("ice1.png", height: '80', width: '70') %>36</td>
    </tr>
    <tr>
      <td><%= @hash[37]%> руб. <%= image_tag("ice2.png", height: '80', width: '70') %>37</td>
      <td><%= @hash[38]%> руб. <%= image_tag("ice3.png", height: '80', width: '70') %>38</td>
      <td><%= @hash[39]%> руб. <%= image_tag("ice4.png", height: '80', width: '70') %>39</td>
      <td><%= @hash[40]%> руб. <%= image_tag("idk.png", height: '80', width: '70') %>40</td>
      <td><%= @hash[41]%> руб. <%= image_tag("idk2.jpeg", height: '80', width: '70') %>41</td>
      <td><%= @hash[42]%> руб. <%= image_tag("juice1.jpeg", height: '80', width: '70') %>42</td>
    </tr>
        <tr>
      <td><%= @hash[43]%> руб. <%= image_tag("juice2.jpeg", height: '80', width: '70') %>43</td>
      <td><%= @hash[44]%> руб. <%= image_tag("juice3.jpeg", height: '80', width: '70') %>44</td>
      <td><%= @hash[45]%> руб. <%= image_tag("juice4.jpeg", height: '80', width: '70') %>45</td>
      <td><%= @hash[46]%> руб. <%= image_tag("juice5.jpeg", height: '80', width: '70') %>46</td>
      <td><%= @hash[47]%> руб. <%= image_tag("apple.png", height: '80', width: '70') %>47</td>
      <td><%= @hash[48]%> руб. <%= image_tag("banana.jpeg", height: '80', width: '70') %>48</td>
    </tr>
  </tbody>
</table>
<br>
<div id = "change">
<%= form_with url: '/vendings/activise', method: :post do |form| %>
          <p><%= form.submit("Активировать автомат", id: 'btn') %></p>
<% end %>
</div>
</div>
